/infrastructure/terraform.tfstate
/webapplication/terraform.tfstate
/infrastructure/terraform.tfstate.backup
/webapplication/terraform.tfstate.backup

/infrastructure/.terraform/*
/webapplication/.terraform/*
/infrastructure/modules/vpc/.terraform/*
/webapplication/subnet/.terraform/*
